<% include partials/_header %>
      
<a href="/urls/new"><button class="btn">Add new URL</button></a>
<div id="url-container">
<% shortUrls.forEach((shortUrl, i) => { %>
  <div id="url">
    <h3><a href="<%= host %>/u/<%= shortUrl %>"><%= host %>/u/<%= shortUrl %></a></h3>
    <p><a href="<%= longUrls[i] %>"><%= longUrls[i] %></a></p>
  <!-- Delete Button -->
  <form action="/urls/<%= shortUrl %>/delete?_method=DELETE" method="POST">
    <!-- <input type="submit" value="Delete"> -->
    <button class="btn">Delete</button>
  </form>
  <!-- Edit Button -->
  <a href="/urls/<%= shortUrl %>"><button class="btn">Edit</button></a>
  </div>
<% }); %>
</div>
<% include partials/_footer %>