<% include partials/_header %>

<ul>
  <% for (let url in urls) { %>
    <li><%= url %>: <a href="<%= urls[url] %>"><%= urls[url] %></a></li>
    <!-- Delete Button -->
    <form action="/urls/<%= url %>/delete?_method=DELETE" method="POST">
      <!-- <input type="submit" value="Delete"> -->
      <button>Delete</button>
    </form>
    <!-- Edit Button -->
    <a href="/urls/<%= url %>">Edit</a>
  <% } %>
</ul>


<% include partials/_footer %>